@model POCTrial.Models.EmployeeInformation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supervisor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit Details</a> |
    <a asp-action="Delete" asp-route-id="@Model.EmployeeId">Delete Employee</a> |
    <a asp-action="Index">Back to List</a>
</div>
